include LICENSE
include README.md
include ERROR_HANDLING_GUIDE.md
include STRUCTURE.md
include requirements.txt
include PYXELATOR.png
recursive-include tests *.py
recursive-include docs *.md *.html *.css
recursive-include examples *.py
recursive-include benchmarks *.py
